<form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="gen-card">
    <mat-card-header>
      <mat-card-title>Agent Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input #name matInput placeholder="Name" formControlName="name">
            <mat-hint align="end">{{ getHint(name.value) }}</mat-hint>
            <mat-error *ngIf="form.controls['name'].hasError('required')">
              Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input #name matInput placeholder="Description" formControlName="description">
            <mat-hint align="end">{{ getHint(name.value) }}</mat-hint>
            <mat-error *ngIf="form.controls['description'].hasError('required')">
              Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea #tags matInput placeholder="Tags" formControlName="tags"></textarea>
            <mat-hint align="end">{{ getHint(tags.value) }}</mat-hint>
            <mat-error *ngIf="form.controls['tags'].hasError('required')">
              Tags is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <input #count matInput placeholder="# of Agent Groups to Generate" formControlName="groupsCount">
            <mat-error *ngIf="form.controls['count'].hasError('required')">
              Agent Group Count is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Generate {{ count.value }} Agent Groups</button>
    </mat-card-actions>
  </mat-card>
</form>
