<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>{{ title }} - Orb Automation & Demonstration Tool</span>
  <div class="spacer"></div>
  <a aria-label="Angular on YouTube" target="_blank" rel="noopener" href="https://www.youtube.com/channel/UCs5FgE5p03tP-8InKVIojdw" title="YouTube">
    <svg id="youtube-logo" height="24" width="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#fff">
      <path d="M0 0h24v24H0V0z" fill="none"/>
      <path d="M21.58 7.19c-.23-.86-.91-1.54-1.77-1.77C18.25 5 12 5 12 5s-6.25 0-7.81.42c-.86.23-1.54.91-1.77 1.77C2 8.75 2 12 2 12s0 3.25.42 4.81c.23.86.91 1.54 1.77 1.77C5.75 19 12 19 12 19s6.25 0 7.81-.42c.86-.23 1.54-.91 1.77-1.77C22 15.25 22 12 22 12s0-3.25-.42-4.81zM10 15V9l5.2 3-5.2 3z"/>
    </svg>
  </a>
</div>

<div class="content" role="main">
  <input type="hidden" #selection>
  <div class="card-container">
    <button class="card card-small" (click)="selection.value = 'token'" tabindex="0" routerLink="./token">
      <span>Retrieve Auth Token</span>
    </button>

    <button class="card card-small" (click)="selection.value = 'agent'" tabindex="0" routerLink="./agent">
      <span>Create Agents</span>
    </button>

    <button class="card card-small" (click)="selection.value = 'group'" tabindex="0" routerLink="./group">
      <span>Create Agent Groups</span>
    </button>

    <button class="card card-small" (click)="selection.value = 'policy'" tabindex="0" routerLink="./policy">
      <span>Create Policies</span>
    </button>

    <button class="card card-small" (click)="selection.value = 'sink'" tabindex="0" routerLink="./sink">
      <span>Create Sinks</span>
    </button>

    <button class="card card-small" (click)="selection.value = 'dataset'" tabindex="0" routerLink="./dataset">
      <span>Create Datasets</span>
    </button>
  </div>

  <!-- Terminal -->
  <div class="terminal" [ngSwitch]="selection.value">
      <pre *ngSwitchDefault>{{ tokenCurl }}</pre>
      <pre *ngSwitchCase="'agent'">{{ agentCurl }}</pre>
      <pre *ngSwitchCase="'group'">{{ groupCurl }}</pre>
      <pre *ngSwitchCase="'policy'">{{ policyCurl }}</pre>
      <pre *ngSwitchCase="'sink'">{{ sinkCurl }}</pre>
      <pre *ngSwitchCase="'dataset'">{{ datasetCurl }}</pre>
  </div>

  <!-- Links -->
  <div class="card-container">
    <a class="circle-link" title="Join the Conversation on Slack" href="https://join.slack.com/t/ns1labs/shared_invite/zt-qqsm5cb4-9fsq1xa~R3h~nX6W0sJzmA" target="_blank"
       rel="noopener">
      <mat-icon>forum</mat-icon>
    </a>
  </div>

  <router-outlet></router-outlet>
  <!-- Footer -->
  <footer>
      Love Orb?&nbsp;
    <a href="https://github.com/ns1labs/orb" target="_blank" rel="noopener"> Give our repo a star.
        <div class="github-star-badge">
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
          Star
        </div>
      </a>
    <a href="https://github.com/ns1labs/orb" target="_blank" rel="noopener">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" fill="#1976d2"/><path d="M0 0h24v24H0z" fill="none"/></svg>
      </a>
    <br>
  </footer>
</div>
